*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2 { 
    font-size: 45px;
    font-style: bold;
    
}
 nav .menu { 
    display: flex;
   list-style: none;
   gap: 51px;
   align-items: center;
 }
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.text-center { 
    text-align: center;
    margin-top: 50px;
}
.section-heading  { 
   max-width: 827px;
   text-align: center;
   margin: 0 auto;
}
.section-heading h2 { 
    font-size: 35px;
    margin-bottom: 30px;

}
.section-heading p { 
    font-size: 18px;
    margin-bottom: 30px;
     line-height: 30px;
     color: #757575;
}

.colour-orange { 
    color: #FD6E0A

}
header {
    background-color: #f2e2e2;
    padding-top: 50px;

    background:
    url("../images/developer.png"),
     url(../images/header_bg.png), #f2e2e2;
    background-position :  top left, bottom right;
    background-repeat : no-repeat;
}


nav { 
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .menu a { 
    font-size: 20px;
    color: #474747;
    text-decoration: none;
 }
 .banner-content {
    max-width: 585px;
 }
 
 #banner { 
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-content h2 { 
    font-size: 45px;
    font-weight: 600px ;
    color: #474747;
    margin-bottom: 5px;
   }
   .banner-content h1 { 
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
   }
.banner-content p { 
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image { 
    max-width: 585px;
    vertical-align: middle;
}

#about , #skill , #resume { 
  padding-top: 130px ;
}

#about .about-conteiner { 
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

#about .about-conteiner .about-info { 
    display: flex;
    justify-content: space-between;
}

.about-info .info-card p { 
font-size: 20px;
   line-height: 30px;
     color: #757575;
} 

.about-info .info-card h4 { 
    font-size: 20px;
    
}


#skill .skill-conteinar {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

 }
    

 #skill .skill-conteinar .skill-box { 
    display: flex;
    gap: 24px;
   
    
 }

    .skill-box .skill-card { 
        padding: 30px;
        max-width: 247px;
        box-shadow: 0 6px 50px #d8d0d0;
    }

    .skill-box .skill-card img { 
        max-width: 44px;
        margin-bottom: 30px;

    }

    .skill-box .skill-card h3 { 
        font-size: 20px;
        color: #181818;
        margin-bottom: 20px;

    }

    .skill-card p { 
       font-size: 16px;
    color: #757575;
    line-height: 28px;

    }

   #resume .resume-conteinar { 
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0 ;
    gap: 24px;
    display: flex;

    }

    
   .resume-conteinar hr { 
    margin: 30 0 ;
   }

    .resume-conteinar .section-tittle { 
        color: #474747;
        font-size: 30px;
        margin-bottom: 30px;

    }

   .resume-card { 
    max-width: 511px;
    margin-right: 47px;
   }

   .resume-card .card-tittle { 
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
   }
   .resume-card .card-info { 
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
   }

    .resume-card .card-text { 
    font-size: 16px;
     
    line-height: 28px;
    
    color: #757575;
   }
   footer {
   margin-top: 130px;
   background-color: #fff8f3;
   padding: 130px 0;
   }

footer .footer-conteiner {
   max-width: 1140px;
   width: 71%;
  margin: 0 auto;
  display: flex;
  gap: 116px;
    
}

.footer-conteiner .social {
    max-width: 562px;

}

.footer-conteiner h2 {
    color: #181818;
    font-size: 35px; 
    margin-bottom: 20px;
}

.footer-conteiner p {
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-conteiner .icons a {
    margin-right: 24px;
}

.footer-conteiner from input[type=text] ,
 .footer-conteiner from  textarea {
    width: 461px; 
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}